.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner {
  width: 100%;
  max-width: 360px;
}

.postContainer {
  max-width: 720px;
  margin: 3rem auto;

  strong {
    font-size: 3.2rem;
    font-weight: 700;
  }
}

.postInfo {
  margin-top: 0.7rem;
  color: var(--gray-300);
  display: flex;
  align-items: center;

  time {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    svg {
      margin-right: 0.4rem;
    }
  }

  span {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    svg {
      margin-right: 0.4rem;
    }
  }
}

.postContent {
  margin-top: 3rem;
  max-width: 720px;

  div {
    margin-top: 2rem;
    max-width: 720px;
  }

  strong {
    font-size: 2.2rem;
    color: var(--gray-50);
  }

  p {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: justify;
    color: var(--gray-300);
  }
}

.parentPosts{
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  div{
    display: flex;
    flex-direction: column;

    span{
      color: var(--gray-100);
    }

    a{
      color: var(--pink-100);
      margin-top: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }

  }
}

.previewButton{

    margin: 2rem 0 2rem;
    width: 100%;
    background: var(--pink-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 1.5rem;

    a{
      font-size: 1rem;
      font-weight: 700;
    }
}

.editedWhen{
  margin-top: 1rem;
  display: block;
  color: var(--gray-600)
}
